.player {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20vh;
}

.time-control {
  display: flex;
  width: 50%;

  input {
    padding: 1rem 0;
    width: 100%;
  }

  p {
    padding: 1rem;
  }
}

.play-control {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 50%;

  svg {
    cursor: pointer;
  }
}
